<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-feature android:name="android.hardware.type.watch" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="false"
        android:label="門前直樹"
        android:theme="@style/WatchTheme">

        <activity
            android:name=".WatchAlarmActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:launchMode="singleTask"
            android:showWhenLocked="true"
            android:turnScreenOn="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ScheduleGridTileActivity"
            android:exported="true"
            android:label="今日行位" />

        <service
            android:name=".WearAlarmListenerService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.android.gms.wearable.MESSAGE_RECEIVED" />
                <action android:name="com.google.android.gms.wearable.DATA_CHANGED" />
                <data
                    android:host="*"
                    android:path="/oneshotalarm/alarm"
                    android:scheme="wear" />
                <data
                    android:host="*"
                    android:path="/oneshotalarm/watch-dismiss"
                    android:scheme="wear" />
                <data
                    android:host="*"
                    android:path="/oneshotalarm/watch-dismiss-data"
                    android:scheme="wear" />
                <data
                    android:host="*"
                    android:path="/oneshotalarm/tile-state"
                    android:scheme="wear" />
            </intent-filter>
        </service>

        <service
            android:name=".WatchAlarmService"
            android:exported="false" />

        <receiver
            android:name=".DebugComplicationRefreshReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.example.oneshotalarm.watch.DEBUG_REFRESH_COMPLICATIONS" />
            </intent-filter>
        </receiver>

        <service
            android:name=".PrevAlarmComplicationDataSourceService"
            android:exported="true"
            android:label="PREV alarm"
            android:permission="com.google.android.wearable.permission.BIND_COMPLICATION_PROVIDER">
            <intent-filter>
                <action android:name="android.support.wearable.complications.ACTION_COMPLICATION_UPDATE_REQUEST" />
            </intent-filter>
            <meta-data
                android:name="android.support.wearable.complications.SUPPORTED_TYPES"
                android:value="SHORT_TEXT" />
            <meta-data
                android:name="androidx.wear.watchface.complications.datasource.SAFE_WATCH_FACE_SUPPORTED_TYPES"
                android:value="SHORT_TEXT" />
            <meta-data
                android:name="android.support.wearable.complications.UPDATE_PERIOD_SECONDS"
                android:value="300" />
            <meta-data
                android:name="android.support.wearable.complications.SAFE_WATCH_FACES"
                android:value="com.kenny.watchface" />
        </service>

        <service
            android:name=".NextAlarmComplicationDataSourceService"
            android:exported="true"
            android:label="NEXT alarm"
            android:permission="com.google.android.wearable.permission.BIND_COMPLICATION_PROVIDER">
            <intent-filter>
                <action android:name="android.support.wearable.complications.ACTION_COMPLICATION_UPDATE_REQUEST" />
            </intent-filter>
            <meta-data
                android:name="android.support.wearable.complications.SUPPORTED_TYPES"
                android:value="SHORT_TEXT" />
            <meta-data
                android:name="androidx.wear.watchface.complications.datasource.SAFE_WATCH_FACE_SUPPORTED_TYPES"
                android:value="SHORT_TEXT" />
            <meta-data
                android:name="android.support.wearable.complications.UPDATE_PERIOD_SECONDS"
                android:value="300" />
            <meta-data
                android:name="android.support.wearable.complications.SAFE_WATCH_FACES"
                android:value="com.kenny.watchface" />
        </service>

        <service
            android:name=".PrevAlarmLabelLine1ComplicationDataSourceService"
            android:exported="true"
            android:label="PREV alarm label 1"
            android:permission="com.google.android.wearable.permission.BIND_COMPLICATION_PROVIDER">
            <intent-filter>
                <action android:name="android.support.wearable.complications.ACTION_COMPLICATION_UPDATE_REQUEST" />
            </intent-filter>
            <meta-data
                android:name="android.support.wearable.complications.SUPPORTED_TYPES"
                android:value="SHORT_TEXT" />
            <meta-data
                android:name="androidx.wear.watchface.complications.datasource.SAFE_WATCH_FACE_SUPPORTED_TYPES"
                android:value="SHORT_TEXT" />
            <meta-data
                android:name="android.support.wearable.complications.UPDATE_PERIOD_SECONDS"
                android:value="300" />
            <meta-data
                android:name="android.support.wearable.complications.SAFE_WATCH_FACES"
                android:value="com.kenny.watchface" />
        </service>

        <service
            android:name=".PrevAlarmLabelLine2ComplicationDataSourceService"
            android:exported="true"
            android:label="PREV alarm label 2"
            android:permission="com.google.android.wearable.permission.BIND_COMPLICATION_PROVIDER">
            <intent-filter>
                <action android:name="android.support.wearable.complications.ACTION_COMPLICATION_UPDATE_REQUEST" />
            </intent-filter>
            <meta-data
                android:name="android.support.wearable.complications.SUPPORTED_TYPES"
                android:value="SHORT_TEXT" />
            <meta-data
                android:name="androidx.wear.watchface.complications.datasource.SAFE_WATCH_FACE_SUPPORTED_TYPES"
                android:value="SHORT_TEXT" />
            <meta-data
                android:name="android.support.wearable.complications.UPDATE_PERIOD_SECONDS"
                android:value="300" />
            <meta-data
                android:name="android.support.wearable.complications.SAFE_WATCH_FACES"
                android:value="com.kenny.watchface" />
        </service>

        <service
            android:name=".NextAlarmLabelLine1ComplicationDataSourceService"
            android:exported="true"
            android:label="NEXT alarm label 1"
            android:permission="com.google.android.wearable.permission.BIND_COMPLICATION_PROVIDER">
            <intent-filter>
                <action android:name="android.support.wearable.complications.ACTION_COMPLICATION_UPDATE_REQUEST" />
            </intent-filter>
            <meta-data
                android:name="android.support.wearable.complications.SUPPORTED_TYPES"
                android:value="SHORT_TEXT" />
            <meta-data
                android:name="androidx.wear.watchface.complications.datasource.SAFE_WATCH_FACE_SUPPORTED_TYPES"
                android:value="SHORT_TEXT" />
            <meta-data
                android:name="android.support.wearable.complications.UPDATE_PERIOD_SECONDS"
                android:value="300" />
            <meta-data
                android:name="android.support.wearable.complications.SAFE_WATCH_FACES"
                android:value="com.kenny.watchface" />
        </service>

        <service
            android:name=".NextAlarmLabelLine2ComplicationDataSourceService"
            android:exported="true"
            android:label="NEXT alarm label 2"
            android:permission="com.google.android.wearable.permission.BIND_COMPLICATION_PROVIDER">
            <intent-filter>
                <action android:name="android.support.wearable.complications.ACTION_COMPLICATION_UPDATE_REQUEST" />
            </intent-filter>
            <meta-data
                android:name="android.support.wearable.complications.SUPPORTED_TYPES"
                android:value="SHORT_TEXT" />
            <meta-data
                android:name="androidx.wear.watchface.complications.datasource.SAFE_WATCH_FACE_SUPPORTED_TYPES"
                android:value="SHORT_TEXT" />
            <meta-data
                android:name="android.support.wearable.complications.UPDATE_PERIOD_SECONDS"
                android:value="300" />
            <meta-data
                android:name="android.support.wearable.complications.SAFE_WATCH_FACES"
                android:value="com.kenny.watchface" />
        </service>
    </application>
</manifest>
